extends admin_layout.pug

block content 
  
  div(class="columns")
    div(class="column is-9")
      h1(class="title") #{title}
    div(class="column is-3")
      div(class="control")
        input(class="input" type="text" placeholder="Search (NYA)")

  table(class="table is-striped is-fullwidth is-narrow")
    thead
      tr
        th Order #
        th Contact 
        th Order 
        th Status 
        th(colspan="2") Timeline
        if page != 'past'
          th Action
    tbody
      each order in orders
        tr
          td(class="is-size-7")
            span #{order._id}
          td(class="is-size-7")
            span #{order.email} 
            if order.email
              br
            span #{order.mobile}

          td(class="is-size-7")
            each it in order.items
              span #{it.qty} x 
              span #{it.item} 
              br
          td
            p(class="field")
              if order.status == 'ORDERED'
                span(class="tag is-black")=order.status
              else if order.status == 'PRINTING'
                span(class="tag")=order.status
              else if order.status == 'PRINTED'
                span(class="tag is-info")=order.status
              else if order.status == 'DELIVERED'
                span(class="tag is-success")=order.status  
          
          td(class="timeline")
            each ti in order.timeline 
              span(class=(ti.status == 'ORDERED')? "has-text-black":(ti.status == 'PRINTING')?"has-text-dark":(ti.status == 'PRINTED')?"has-text-info":"has-text-success") #{ti.status} 
              br
          td(class="timeline")
            each ti in order.timeline 
              on
              span #{ti.date.toDateString()} #{ti.date.getHours()}:#{ti.date.getMinutes()}
              br
          if page != 'past'
            td(class="actions")
              if order.status == 'ORDERED'
                a(href=url_api + order._id +"/flag/printing" class="button is-light is-small") PRINTING 
              else if order.status == 'PRINTING'
                a(href=url_api + order._id +"/flag/printed" class="button is-light is-small") PRINTED
              else if order.status == 'PRINTED'
                a(href=url_api + order._id +"/flag/delivered" class="button is-light is-small") DELIVERING

