extends admin_layout.pug

block content 

  form(method="get")
    div(class="columns")
      div(class="column is-9")
        h1(class="title") #{title}
      div(class="column is-2")
        input(class="input is-small" type="text" placeholder="Search Status, Contacts, Objects" name="search" value=search) 
      div(class="column is-1")
        if search
          a(class="button is-small is-danger" href=url_page) Clear
        else 
          button(class="button is-small is-dark" type="submit") Search

  table(class="table is-striped is-fullwidth is-narrow")
    thead
      tr
        th Contact / Order #
        th Online
        th Order 
        th Status 
        th(colspan="2") Timeline
        if page_name != 'past'
          th.has-text-centered Action
        th.has-text-centered 
          if (page_name == 'deleted')
            span.has-text-success RESTORE
          else 
            span.has-text-danger Delete
    tbody
      each order in orders
        tr
          td(style="font-size:0.5rem")
            span #{order.email} 
            if order.email
              br
            span #{order.mobile}
            br 
            a(href="/qrcodes/" + order._id + ".png") #{order._id}
          td(class="is-size-7")
            if order.is_online 
              span ONLINE 
            else 
              span ON-SITE
            br 
            a(href=`${url_api}${order._id}/online`) swap
          td(class="is-size-7")
            each it in order.items
              span #{it.qty} x 
              span #{it.item} 
              br
          td
            p(class="field")
              a(href=`/api/orders/${order._id}`)
                if order.status == '01.ORDERED'
                  span(class="tag is-black is-light")=order.status
                else if order.status == '02.PRINTING'
                  span(class="tag is-info is-light")=order.status
                else if order.status == '03.PRINTED'
                  span(class="tag is-warning is-light")=order.status
                else if order.status == '04.DELIVERED'
                  span(class="tag is-success is-light")=order.status  
                else if order.status == 'DELETED'
                  span(class="tag is-danger is-light")=order.status  
          
          td(class="timeline")
            each ti in order.timeline 
              span(class=(ti.status == '01.ORDERED')? "has-text-black":(ti.status == '02.PRINTING')?"has-text-info":(ti.status == '03.PRINTED')?"has-text-warning":(ti.status=='DELETED')?"has-text-danger":"has-text-success") #{ti.status} 
              br

          td(class="timeline")
            each ti in order.timeline 
              on
              span #{ti.date.toDateString()} #{ti.date.getHours()}:#{ti.date.getMinutes()} 
              if ti.status != '01.ORDERED'
                span by #{ti.user.username}
              br
            
          if page_name != 'past'
            td(class="actions")
              if page_name != 'deleted'
                div.buttons.are-small.has-addons.is-centered
                  if order.status == '01.ORDERED'
                    a(href=url_api + order._id +"/flag/02.printing" class="button is-info is-small") PRINTING&raquo;
                  else if order.status == '02.PRINTING'
                    a(href=`${url_api}${order._id}/flag/01.ordered` class="button is-black") &laquo;ORDERED 
                    a(href=`${url_api}${order._id}/flag/03.printed` class="button is-warning") PRINTED&raquo;
                  else if order.status == '03.PRINTED'
                    a(href=`${url_api}${order._id}/flag/02.printing` class="button is-info is-small") &laquo;PRINTING
                    a(href=`/admin/postsurvey/${order._id}` class="button is-success is-light is-small" target="postsurvey") DELIVERING&raquo;
          td 
            div.buttons.is-centered
              if order.status != 'DELETED'
                a(href=`/admin/orders/${order._id}/flag/deleted` class="button is-danger is-small")
                  span(class="icon")
                    i(class="fas fa-ban")
              else 
                a(href=`/admin/orders/${order._id}/restore` class="button is-success is-small")
                  span(class="icon")
                    i(class="fas fa-undo")


  nav.pagination.is-small(role="naviation" aria-label="pagination")
    if page > 1
      a.pagination-previous(href=`${url_page}?page=${page*1 - 1}&limit=${limit}`) &laquo;Previous
    else 
      a.pagination-previous(disabled) Previous&laquo;
    
    if page < totalPages 
      a.pagination-next(href=`${url_page}?page=${page*1 + 1}&limit=${limit}`)  Next&raquo;
    else 
      a.pagination-next(disabled)  Next&raquo;
    ul.pagination-list 
      li 
        a.pagination-link.is-current(aria-label=`Page ${page}`)=page

                  
