extends admin_layout.pug

block content
    div(class="container")
        <section class="hero is-info welcome is-small">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Hello, #{user.username}.</h1>
                    <h2 class="subtitle">I hope you are having a great day!</h2>
                </div>
            </div>
        </section>

        section(class="info-tiles")
            div(class="tile is-ancestor has-text-centered")
                div(class="tile is-parent")
                    article(class="tile is-child box")
                        p(class="title") #{total_orders}
                        p(class="subtitle") Total Orders

                div(class="tile is-parent")
                    article(class="tile is-child box")
                        p(class="title") #{active_orders}
                        p(class="subtitle") Active

                div(class="tile is-parent")
                    article(class="tile is-child box")
                        p(class="title") #{completed_orders}
                        p(class="subtitle") Completed 

                div(class="tile is-parent")
                    article(class="tile is-child box")
                        p(class="title") NYA
                        p(class="subtitle") Avg Time 

        section(class="info-tiles")
            div(class="tile is-ancestor has-text-centered")
                div(class="tile is-parent")
                    article(class="tile is-child box")
                        p(class="title") #{total_objects}
                        p(class="subtitle") Total Objects

                div(class="tile is-parent")
                    article(class="tile is-child box")
                        p(class="title") NYA
                        p(class="subtitle") Printing 

                div(class="tile is-parent")
                    article(class="tile is-child box")
                        p(class="title") NYA
                        p(class="subtitle") Delivered 

                div(class="tile is-parent")
                    article(class="tile is-child box")
                        p(class="title") #{total_objects}
                        p(class="subtitle") Avg Printing Time

        section(class="info-tiles")
            div(class="tile is-ancestor has-text-centered")
                each obj in qty_per_objects
                    div.tile.is-parent 
                        article.tile.is-child.box 
                            p.title=obj.total 
                            p.subtitle=obj._id

                //- div(class="tile is-parent")
                //-     article(class="tile is-child box")
                //-         p(class="title") #{total_objects}
                //-         p(class="subtitle") Total Objects

                //- div(class="tile is-parent")
                //-     article(class="tile is-child box")
                //-         p(class="title") NYA
                //-         p(class="subtitle") Printing 

                //- div(class="tile is-parent")
                //-     article(class="tile is-child box")
                //-         p(class="title") NYA
                //-         p(class="subtitle") Delivered 

                //- div(class="tile is-parent")
                //-     article(class="tile is-child box")
                //-         p(class="title") #{total_objects}
                //-         p(class="subtitle") Avg Printing Time
